In [1]:
import pandas as pd
import numpy as np

1. Đọc dữ liệu

In [3]:
df = pd.read_csv('C:/Users/DD/Desktop/Data Analyst/OnlineRetail.csv',encoding='ISO-8859-1')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

2. Tìm hiểu cấu trúc dữ liệu

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

3. Giải đáp thắc mắc

3.1. Công ty bán hàng tại bao nhiêu quốc gia

In [6]:
country = df['Country'].unique()
print(len(country))

38

3.2. Số lượng đơn hàng bán ra và tổng doanh thu

In [12]:
print(df.groupby('InvoiceNo')['Quantity'].sum())
print('Tổng số đơn hàng là : '+str(len(df['InvoiceNo'].unique())))

InvoiceNo
536365        40
536366        12
536367        83
536368        15
536369         3
           ...
C581484   -80995
C581490      -23
C581499       -1
C581568       -5
C581569       -6
Name: Quantity, Length: 25900, dtype: int64
Tổng số đơn hàng là : 25900

In [14]:
df['Thành tiền'] = df['Quantity']*df['UnitPrice']
print('Tổng doanh thu là: '+str(df['Thành tiền'].sum()))

Tổng doanh thu là: 9747747.933999998

3.3. Top 10 mặt hàng có số lượng bán ra nhiều nhất

In [20]:
ProductSales = pd.DataFrame(df.groupby('Description')['Quantity'].sum())
ProductSales.sort_values('Quantity',ascending=False).head(10)

                                    Quantity
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS      53847
JUMBO BAG RED RETROSPOT                47363
ASSORTED COLOUR BIRD ORNAMENT          36381
POPCORN HOLDER                         36334
PACK OF 72 RETROSPOT CAKE CASES        36039
WHITE HANGING HEART T-LIGHT HOLDER     35317
RABBIT NIGHT LIGHT                     30680
MINI PAINT SET VINTAGE                 26437
PACK OF 12 LONDON TISSUES              26315
PACK OF 60 PINK PAISLEY CAKE CASES     24753

In [22]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Thành tiền
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

3.3. Top 10 mặt hàng có doanh thu cao nhất

In [24]:
tunover = df.groupby(['StockCode','Description'])['Thành tiền'].sum().sort_values(ascending=False)
tunover.head(10)

StockCode  Description
DOT        DOTCOM POSTAGE                        206245.48
22423      REGENCY CAKESTAND 3 TIER              164762.19
47566      PARTY BUNTING                          98302.98
85123A     WHITE HANGING HEART T-LIGHT HOLDER     97715.99
85099B     JUMBO BAG RED RETROSPOT                92356.03
23084      RABBIT NIGHT LIGHT                     66756.59
POST       POSTAGE                                66230.64
22086      PAPER CHAIN KIT 50'S CHRISTMAS         63791.94
84879      ASSORTED COLOUR BIRD ORNAMENT          58959.73
79321      CHILLI LIGHTS                          53768.06
Name: Thành tiền, dtype: float64